<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TinyApp: Index</title>
    <header>
      <% include ./partials/_header %>
    </header>
  </head>
  <body>
    <h1> Your Short URLs <h1>
    <ul>
      <%
      for (shortURL in urlDatabase) {
      var longURL = urlDatabase[shortURL].link
      %>
      <li><%= longURL %> -> <%= shortURL %></li>
      <%
      if (urlDatabase[shortURL].userID === userID) {
      %>

        <form method="POST" action="/urls/<%= shortURL %>/delete">
          <a href="/urls/<%= shortURL %>">Edit</a>
          <button type="submit" name="delete" value= "<%= shortURL %>">Delete</button>
        </form>

      <% } %>
      <% } %>
      <li><a href="/urls#"> Shorten URLs here!  </a></li>
    </ul>
  </body>
</html>